# Django
DEBUG=False
SECRET_KEY=<generate: python -c "import secrets; print(secrets.token_urlsafe(50))">
ALLOWED_HOSTS=new.ucanspeak.ru,localhost
CORS_ORIGIN_ALLOW_ALL=False
CORS_ALLOWED_ORIGINS=https://new.ucanspeak.ru

# Database
DB_NAME=ucanspeak
DB_USER=ucanspeak_user
DB_PASSWORD=<new password>
DB_HOST=host.docker.internal
DB_PORT=5432
